/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    min-width: 1200px;
}
ul{
    list-style: none;
}
:root {
	--color-light-blue: #b4d0e7;
	--color-blue-intense: #0061ff;
	--color-main-color: #ffffff;
	--color-black: #000000;
	--color-light-green: #a2d39b;
	--color-card-blue: #0093ce;
	--color-red-card: #ff1c1c;
	--color-card-violet: #61082b;
	--color-high-red: #d5001f;
	--color-high-blue: #0d2481;
	--color-funny-yellow: #ffd830;
	--color-ocra: #f5f5f5;
    --color-grey: grey;
}
/*flex*/
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 25px;
}
.align-center{
    align-items: center;
    align-content: center;
}
.direction{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.align-self{
    align-self: flex-start;
}
/*containers*/
.contain{
    max-width: 1200px;
}
.small-contain{
    max-width: 1000px;
}
.smaller-contain{
    max-width: 800px;
}
.margin-auto{
    margin: 0 auto;
}
/*header*/
nav{
    width: 100%;
    position: fixed;
    background-color: var(--color-main-color);
    top: 0;
    z-index: 999;
}
h1{
    font-size: 60px;
    padding-top: 80px;
}
header p{
    padding-top: 52px;
}
header i{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 40px;
}
nav a{
    text-decoration: none;
    color: var(--color-grey);
    font-size: 13px;
}
#hero a{
    text-decoration: none;
    font-size: 13px;
}
#null{
    color: var(--color-black);
}
.btn{
    background-color: var(--color-blue-intense);
    padding: 10px;
    color: var(--color-main-color);
}
.btn:hover{
    box-shadow: inset 0 0 0 5px var(--color-card-blue);
}

.padding-nav{
    padding: 5px;
}
.background-hero{
    background-color: var(--color-light-blue);
    min-height: 450px;
}
.right{
    width: 700px;
    background-size: contain;
    position: relative;
    top: 58px;
}

.left a{
    margin-top: 20px;
}
.dropbtn {
  padding: 13px;
  font-size: 13px;
  border: none;
  color: var(--color-grey);
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
    background-color: var(--color-card-blue);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-blue-intense);
    color: var(--color-main-color);
}

/*align*/
.text-align{
    text-align: center;
}
.align-r-carret{
    text-align: right;
}

/*margin - padding - border*/
.pad-b-s{
    padding-bottom: 20px;
}
.margin-t-main{
    margin-top: 80px;
}
.margin-18{
    margin-top: -26px;
}
.margin-b-main{
    margin-bottom: 60px;
}
.margin-right-radio{
    margin-right: 30px;
}
.margin-right-sphere{
    margin-right: 10px;
}
.border-pb{
    border: solid var(--color-grey) 1px;
}
.padding-pb{
    padding: 25px;
}
.pad-tside{
    padding-top: 15px;
}
.pad-bside{
    padding-bottom: 25px;
}
.rule-b{
    border-bottom: var(--color-grey) solid 1px;
}
.rule-t{
    border-top: var(--color-grey) solid 1px;
}
.border-padding-title-pb{
    border-bottom: solid var(--color-grey) 1px;
    padding: 10px;
}
.mgt-h{
    margin-top: 20px;
}
.margin-b-strg{
    margin-bottom: 15px;
}
.m-small{
    margin-bottom: 25px;
}
.margin-t-small{
    margin-top: 40px;
}
.margin-tvb{
    margin-top: 140px;
}
.margin-double{
    margin: 40px 40px;
    padding-top: 170px;
}
.big-padding{
    padding: 100px 0 100px 0;
}
/*width*/
.width-box{
    width: 100%;
}

/*main*/
.sixty{
    width: 60%;
}
.sixty img{
    width: 100%;
}
.forty{
    width: 40%;
}
.card{
    width: calc(800px / 3 - 20px);
}
.bg-general-card{
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%
}
.bg-card-1{
    background-image: url(../img/business-feature-switching-tools.png);
}
.bg-card-2{
    background-image: url(../img/business-feature-send-files-it.png);
}
.bg-card-3{
    background-image: url(../img/business-feature-security.png);
}
.bg-card-4{
    background-image: url(../img/business-feature-integrations-it.png);
}
.bg-card-5{
    background-image: url(../img/business-feature-multi-device.png);
}
.bg-card-6{
    background-image: url(../img/business-feature-coordinate-it.png);
}

/*a-side partners*/
.bg-size-general-partner{
    width: calc(100% / 3);
    height: calc(1400px / 3);
}
.bg-part-gen{
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    height: calc(100% / 2);
    width: 50%;
}
.box-1-l{
    background-color: var(--color-light-green);
}
.box-2-l{
    background-color: var(--color-card-violet);
}
.box-3-l{
    background-color: var(--color-card-blue);
}
.box-4-l{
    background-color: var(--color-red-card);
}
.box-1-r{
    background-color: var(--color-high-red);
}
.box-2-r{
    background-color: var(--color-light-blue)
}
.box-3-r{
    background-color: var(--color-high-blue);
}
.box-4-r{
    background-color: var(--color-funny-yellow);
}
.box-center{
    background-color: var(--color-ocra);
}

.bg-part-1{
    background-image: url(../img/designit.svg);
}
.bg-part-2{
    background-image: url(../img/arizona_state_university.svg);
}
.bg-part-3{
    background-image: url(../img/university_of_florida.svg);
}
.bg-part-4{
    background-image: url(../img/topps.svg);
}
.bg-center{
    background-image: url(../img/designit.svg);
    background-repeat: no-repeat;
    background-position: 40px 40px;
    background-size: 240px;
}
.bg-part-5{
    background-image: url(../img/world_bicycle_relief.svg);
}
.bg-part-6{
    background-image: url(../img/hearst_corp.svg);
}
.bg-part-7{
    background-image: url(../img/lonely_planet.svg);
}
.bg-part-8{
    background-image: url(../img/clear_channel.svg);
}
.price{
    font-size: 12px;
}
.grey-under-price{
    color: var(--color-grey);
    font-size: 14px;
}
.single{
    font-size: 12px;
}
.single-2{
    font-size: 14px;
}
.btn-plan{
    width: 200px;
    padding: 12px 32px;
    font-size: 12px;
    background-color: var(--color-blue-intense);
    color: var(--color-main-color);
    border: none;
}
.btn-plan:hover{
    box-shadow: inset 0 0 0 5px var(--color-card-blue);
}
.btn-bcta{
    padding: 12px 32px;
    font-size: 12px;
    background-color: var(--color-main-color);
    color: var(--color-grey);
    border: solid var(--color-grey) 1px;
}
.btn-cta{
    padding: 8px 32px;
    font-size: 12px;
    background-color: var(--color-main-color);
    color: var(--color-black);
    border: none;
}
.btn-cta:hover{
    box-shadow: inset 0 0 0 5px var(--color-grey);
}
.btn-bcta:hover{
    box-shadow: inset 0 0 0 5px var(--color-grey);
}
.short-border{
    border-bottom: var(--color-grey) solid 1px;
    padding-bottom: 18px;
}
.short-border-top{
    border-top: var(--color-grey) solid 1px;
    padding-top: 18px;
}
.list-margin{
    margin: 6px;
}
.blue-check{
    color: var(--color-blue-intense);
}
.word-space-size-and-color{
    text-indent: 1em;
    font-size: 12px;
    color: var(--color-grey);
}
/*a-side 2*/
.side-jumbo-color{
    background-color: var(--color-light-blue);
    color: var(--color-card-violet);
}
.font-bold-and-margin{
    font-weight: bold;
    margin-bottom: 10px;
}
.margin-bot-list{
    margin-bottom: 5px;
}
.world-wrap{
    word-wrap: break-word;
}
.fil{
    filter: invert();
}
/*Footer*/
#black{
    background-color: var(--color-black);
    color: white;
    min-height: 300px;
}
footer a{
    text-decoration: none;
    color: var(--color-main-color);
}
footer a:hover{
    text-decoration: underline;
}
.list-size{
    font-size: 0.8em;
}








