/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
ul{
    list-style: none;
}
:root {
	--color-light-blue: #b4d0e7;
	--color-blue-intense: #0061ff;
	--color-main-color: #ffffff;
	--color-black: #000000;
	--color-light-green: #a2d39b;
	--color-card-blue: #0093ce;
	--color-red-card: #ff1c1c;
	--color-card-violet: #61082b;
	--color-high-red: #d5001f;
	--color-high-blue: #0d2481;
	--color-funny-yellow: #ffd830;
	--color-ocra: #f5f5f5;
    --coror-grey: grey;
}
.margin-auto{
    margin: 0 auto;
}
/*flex*/
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 25px;
}
.align-center{
    align-items: center;
    align-content: center;
}
.direction{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.text-align{
    text-align: center;
}
.debug{
    border: solid black 2px;
    height: 400px;
}
/*containers*/
.contain{
    max-width: 1400px;
}
.small-contain{
    max-width: 1000px;
}
/*header*/
header{
    width: 100%;
    position: fixed;
    background-color: var(--color-main-color);
}
h1{
    font-size: 60px;
    padding-top: 40px;
}
p{
    padding-top: 52px;
}
i{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 40px;
}
nav a{
    text-decoration: none;
    color: var(--coror-grey);
    font-size: 13px;
}
#hero a{
    text-decoration: none;
    font-size: 13px;
}
#null{
    color: var(--color-black);
}
.btn{
    background-color: var(--color-blue-intense);
    padding: 10px;
    color: var(--color-main-color);
}
.align-self{
    align-self: flex-start;
}
.padding-nav{
    padding: 5px;
}
.background-hero{
    background-color: var(--color-light-blue);
    min-height: 450px;
}
.right{
    width: 700px;
    background-size: contain;
    position: relative;
    top: 58px;
}

.left a{
    margin-top: 20px;
}

