/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    min-width: 1200px;
}
ul{
    list-style: none;
}
:root {
	--color-light-blue: #b4d0e7;
	--color-blue-intense: #0061ff;
	--color-main-color: #ffffff;
	--color-black: #000000;
	--color-light-green: #a2d39b;
	--color-card-blue: #0093ce;
	--color-red-card: #ff1c1c;
	--color-card-violet: #61082b;
	--color-high-red: #d5001f;
	--color-high-blue: #0d2481;
	--color-funny-yellow: #ffd830;
	--color-ocra: #f5f5f5;
    --coror-grey: grey;
}
.margin-auto{
    margin: 0 auto;
}
/*flex*/
.d-flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 25px;
}
.align-center{
    align-items: center;
    align-content: center;
}
.direction{
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.align-self{
    align-self: flex-start;
}
.debug{
    border: solid black 2px;
    height: 400px;
}
/*containers*/
.contain{
    max-width: 1200px;
}
.small-contain{
    max-width: 1000px;
}
.smaller-contain{
    max-width: 800px;
}
/*header*/
nav{
    width: 100%;
    position: fixed;
    background-color: var(--color-main-color);
}
h1{
    font-size: 60px;
    padding-top: 80px;
}
header p{
    padding-top: 52px;
}
header i{
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 40px;
}
nav a{
    text-decoration: none;
    color: var(--coror-grey);
    font-size: 13px;
}
#hero a{
    text-decoration: none;
    font-size: 13px;
}
#null{
    color: var(--color-black);
}
.btn{
    background-color: var(--color-blue-intense);
    padding: 10px;
    color: var(--color-main-color);
}

.padding-nav{
    padding: 5px;
}
.background-hero{
    background-color: var(--color-light-blue);
    min-height: 450px;
}
.right{
    width: 700px;
    background-size: contain;
    position: relative;
    top: 58px;
}

.left a{
    margin-top: 20px;
}
/*align*/
.text-align{
    text-align: center;
}

/*margin - padding - border*/
.margin-t-main{
    margin-top: 80px;
}
.margin-b-main{
    margin-bottom: 60px;
}
.margin-right-radio{
    margin-right: 30px;
}
.margin-right-sphere{
    margin-right: 10px;
}
.border-pb{
    border: solid var(--coror-grey) 2px;
}
.padding-pb{
    padding: 25px;
}
.border-padding-title-pb{
    border-bottom: solid var(--coror-grey) 2px;
    padding: 10px;
}
.mgt-h{
    margin-top: 20px;
}
.margin-b-strg{
    margin-bottom: 15px;
}
.m-small{
    margin-bottom: 25px;
}
.margin-t-small{
    margin-top: 40px;
}
/*width*/
.width-box{
    width: 100%;
}

/*main*/
.sixty{
    width: 60%;
}
.sixty img{
    background-size: contain;
    width: 100%;
}
.forty{
    width: 40%;
}



